{%extends "prelogin_layout.html"%} {%block title%}Login{%endblock%} {%block
content%}
<div
  class="w-2/6 bg-slate-500 m-auto min-w-[400px] relative top-[10%] rounded-[14px] shadow-lg shadow-black p-10 flex flex-col justify-center items-center"
>
  <form
    class="flex flex-col justify-center items-center w-full"
    action="{{url_for('login')}}"
    method="POST"
  >
    <img
      class="w-[35%] rounded-full m-2"
      src="/static/images/pp.png"
      alt="Image"
    />
    <h1 class="text-4xl font-bold">Login</h1>
    <div class="flex flex-col justify-center items-center">
      {{form.username(class_="form-control m-1 rounded-md p-1 outline-none
      px-2",placeholder="Username",autocomplete="off",focus="true")}}
      <ul>
        {%for error in form.username.errors%}
        <li>{{error}}</li>
        {%endfor%}
      </ul>
    </div>
    <div class="flex flex-col justify-center items-center">
      {{form.password(class_="form-control m-1 rounded-md p-1 outline-none
      px-2",placeholder="Password")}}
      <ul>
        {%for error in form.password.errors%}
        <li>{{error}}</li>
        {%endfor%}
      </ul>
    </div>
    <div>
      {{form.submin_btn(class_="bg-slate-600 p-2 mt-2 rounded-md
      hover:bg-slate-700 cursor-pointer text-white")}}
    </div>
    {{form.csrf_token}}
  </form>
  <p class="text-white text-lg mt-2">Don't have an account yet?</p>
  <a
    href="{{url_for('register')}}"
    class="font-bold hover:underline text-blue-300"
    >Sign Up</a
  >
</div>
{%endblock%}
